.content {
    max-width: 1000px;
    margin-top: 20px;
}

.profile-container {
    width: 30%;
    max-width: 300px;
    align-self: flex-start;
    color: #4e555b;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid {
    max-height: 100px;
}

.tweet-author-avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.tweet-action-btn {
    min-width: 32px;
    padding: 0.2rem 0.4rem;
    margin-left: 2px;
}

.btn-tweet {
    border-radius: 30px;
}

.b {
    border: 1px solid red;
}

.b1 {
    border: 1px solid green;
}

#search-menu-container {
    position: relative;
}

.pointer-cursor {
    cursor: pointer;
}

.search-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    z-index: 1;
    top: 3px;
    width: 300px;
    height: 200px;
}

.search-menu-item {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
    text-decoration: none;
    color: inherit;
}

.search-menu-item:hover {
    background-color: #eee;
    transition: background 0.2s;
    text-decoration: none;
    color: inherit;
}

.empty-search-menu {
    padding: 10px 15px;
}